@use "../../structure/base";
@use "../../structure/boostrap";


// header sass
.header{
    transition: var(--tran-05);
    background-color: var(--cultured);
    z-index: 101;
    height: 64px;
    .notifications-icon, .profile-btn, .menu-icon, .display-path{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    }

    .pathname{
        text-transform: capitalize;
    }
    .company-logo{
        img{
            height: 50px;
        }
    }

}


//sidebar sass
.sidebar{
    position: fixed;
    top: 64px;
    left: 0;
    height: 100%;
    padding: 10px 14px;
    transition: var(--tran-05);
    z-index: 100;
    transition: all 0.5s ease-in-out;
    background-color:  var(--cultured);

    
    .link-item{

        &:hover{
           
            .nav-icon,.link{
                color:var(--sheen-green);
                 transition: var(--tran-03);
            }
        }

        .nav-icon{
         background: rgba(255, 255, 255, 0.9);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        height: 48px;
        &.active{
            color: var(--sheen-green);
            }
        }

    }
    
    &.open{
        .link{
        font-weight: 500;
        font-size: 18px;
        padding-left: 8px;
        transition: var(--tran-03);
        &.active, &:hover{
            color: var(--sheen-green);
            
        }
    }
    }
    &.close{
        .link{
            display: none;
        }
    }
}