@use "../../structure/base";

.user-menu{
    
    .menu-btn{
        .container{
            flex-flow: row nowrap;
            align-items: center;
            margin: auto auto;
            .avatar{}
            p{
                text-align: center;
            }
        }
    }
}