/* ====== Colour Palette ====== */
$sheen-green:#91e000;
$sheen-green-rgba:rgba(145, 224, 0, 1);
$cultured:#faf8f8;
$culutured-rgba:rgba(250, 248, 248, 1);
$middle-grey:#82816d;
$middle-grey-rgba:rgba(130, 129, 109, 1);
$jet:#2e3134;
$jet-rgba:rgba(46, 49, 52, 1);
$smoky-black:#12100e;
$smoky-black-rgba:rgba(18, 16, 14, 1);
$xiketic: #1B0F1B;
$white: #fefefe;


/* ====== Transition ====== */
$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;


/* ====== Fonts ====== */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$comfortaa: 'Comfortaa', cursive;
$poppins: 'Poppins', sans-serif;



/* ====== Glass Backgrounds  ====== */
%glass1{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
}
%glass2{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
}

%list{
    li{
        list-style: none;
        a{
            list-style: none;
            text-decoration: none;
        }
    }
}

:root{
    /* ===== Colour Palette ===== */
    --sheen-green:#{$sheen-green};
    --sheen-green-rgba:#{$sheen-green-rgba};
    --cultured:#{$cultured};
    --cultured-rgba:#{$culutured-rgba};
    --middle-grey:#{$middle-grey};
    --middle-grey-rgba:#{$middle-grey-rgba};
    --jet:#{$jet};
    --jet-rgba:#{$jet-rgba};
    --smoky-black:#{$smoky-black};
    --smoky-black-rgba:#{$smoky-black-rgba};
    --xiketic:#{$xiketic};
    --white:#{$white};


    /* ===== Transitions ===== */
    --tran-02:#{$tran-02};
    --tran-03:#{$tran-03};
    --tran-04:#{$tran-04};
    --tran-05:#{$tran-05};

    /* ===== Fonts ===== */
    --comfortaa:#{$comfortaa};
    --poppins:#{$poppins};
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--poppins);  
}

html {
    scroll-behavior: smooth;
}